* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #eef7fc;
}

.extension-menu {
    display: flex;
    flex-direction: column;
justify-content: center;
    width: 15rem;
    height: 100%;
    padding: 1rem;
}

section {
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 1rem;
    margin-bottom: 1rem;

    .logo {
        margin-top: auto;
        margin-bottom: auto;
    }

    .title {
        padding: 0;
        margin: 0;
    }
}

.dyslexia {
    display: flex;
    flex-direction: column;

    label {
        font-weight: 500;
    }

    input {
        cursor: pointer;
    }

    .dyslexia-menu {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .check-option {
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
        }
    }
}

.reset {
    margin-top: 1.5rem;

    #resetSim {
        color: white;
        background-color: #a90061;
    }

    #resetSim:hover {
        background-color: #cb66a0;
    }
}

.button-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

button {
    background-color: #bcdff0;
    border: none;
    font-weight: 400;
    font-size: 1rem;
    padding: 0.6rem;
    cursor: pointer;
}

button:hover {
    background-color: #ddeff8;
}

a {
    color: #007bc7;
}

a:active {
    color: #a90061;
}

.sub-section {
    margin-left: 1rem;
}

.sub-section-title {
    margin: 0 0 0.5rem 0;
}

.end {
    width: 100%;
    display: flex;
    justify-content: end;
}