* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
 background-color: #eef7fc;
}

section {
    width: 100%;
}

.extension-menu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    align-items: center;
    width: 15rem;
    height: 100%;
    padding: 1rem;

    
}

.header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.title {
    padding: 0;
    margin: 0;
}

.button-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.buttons {
    button {
        background-color: #bcdff0;
        border: none;
        /* border: 2px solid #8fcae7; */
        /* border-radius: 0.75rem; */
        font-weight: 400;
        font-size: 1rem;
        padding: 0.6rem;
        cursor: pointer;
    }

    button:hover {
        background-color: #ddeff8;
    }
}

#resetSim {
    background-color: #ace4d3;
}
#resetSim:hover {
    background-color: #d5f1e9;
}

/* .neuro-title {
    margin: 0;
} */
.sub-section {
    margin-left: 1rem;
}

.sub-section-title {
    margin: 0 0 0.5rem 0;
}

.end {
    width: 100%;
    display: flex;
    justify-content: end;
}

.top-space {
    margin-top: 0.5rem;
}

.dyslexia {
    display: flex;
    flex-direction: column;

    label {
        font-weight: 500;
    }

    input {
        cursor: pointer;
    }

    .dyslexia-menu {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .check-option {
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
        }
    }
}

.main {
    height: 400px;
    width: 200px;
}